*, *:before, *:after{
	box-sizing: inherit;
}

html{
	box-sizing: border-box;
	font-size: 10px;
	background: blue;
  	animation: color-me-in 5s infinite;
}

@keyframes color-me-in {
  	0% {
    background: orange;
  	}
  	50% {
    background: blue;
  	}
  	100% {
    background: black;
  	}
}
body{
	padding: 0;
	margin:0;
	font-family: 'Fredericka the Great', cursive;
 }

button{
	margin-right: 9%;
    margin-left: 7%;
    width: 8%;
    font-size: 19px;
    height: 5%;
}
h1{
	text-align: center;
	font-size: 8rem;
	line-height: 1;
	margin-bottom: 0;
        color: white;
}
h2{
	font-size: 50px;
    margin-bottom: 0;
    margin-left: 29%;
    margin-top: 6%;
}
label{
	font-size: 40px;
}
#initpage{
	margin: 10% auto;
    width: 80%;
    height: 530px;
	animation: animatedfrontBackground 9s linear infinite;
}
.gameboard{
	border: 20px groove #e3e3e3;

}
.gameboard1{
	border: 20px groove #e3e3e3;
	height: 403px;
}
@keyframes animatedfrontBackground{
    0% { 
    background:url(../media/drawn-contrast.jpg) bottom center;
    }

  	100% {
    background:url(../media/dawn_drama.png) bottom center;
  }
}
.name-input{
	text-align: center;
}
#penetername{
	font-size: 7rem;
	margin: 3%;
}
#instructions{
	display: none;
}
#instructions{
	font-size: 3rem;
	margin: 3%;
}
#Button1{
	margin-right: 9%;
    margin-left: 15%;
    width: 8%;
    font-size: 19px;
    height: 5%;
}
#stopMusic1{
	margin-right: 9%;
    margin-left: 15%;
    width: 8%;
    font-size: 19px;
    height: 5%;	
}
#instructToggle{
	margin-right: 9%;
    margin-left: 10%;
    width: 13%;
    font-size: 19px;
    height: 5%;
}
#inputname{
	margin-top: 2%;
	font-size: 27px;
	width: 32%;
    height: 37px;
    border-radius: 9px;
    font-family: 'Fredericka the Great', cursive;
}
#results{
	text-align: center;
    margin: 3%;
    font-size: 22px;
}
#displayname{
	text-align: center;
    margin: 3%;
    font-size: 22px;
}
#headingResult{
	display: none;
}
#gamepanel{
	background: brown;
	opacity: 0.5;
    /*margin-top: 3%;*/
}
#gamepanel-one{
    background: brown;
    opacity: 0.6;
}
#sub-buttn{
	 width: 8%;
    font-size: 33px;
}