#gamecontainer{
	display: none;
}
#gamecontainer{
	    margin: 10% auto;
}
.headscore{
	clear:both;
}
#heading{
	float: left;
	margin-left: 27%;
}
.score{
	background:rgba(255, 255, 255, 0.2);
	padding: 0 3rem;
	line-height: 1;
	border-radius:1rem; 
	width: 4%;
    font-size: 40px;
    margin-top: 7%;
    margin-left: 3%;
    display: inline;
    float: left;
}
.game{
	width: 70%;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
.bush{
	flex: 1 0 33.31%;
	overflow: hidden;
	position: relative;
	
}
.bush:after {
 display: block;
 background:url(../media/bush.svg) bottom center no-repeat;
 background-size: contain;
 content: '';
 width: 100%;
 height: 70px;
 position: absolute;
 z-index: 2;
 bottom: -30px;
}
.grim{
 background:url(../media/death.svg) bottom center no-repeat;
 background-size: 40%;
 position: absolute;
 top: 100%;
 width: 100%;
 height: 100%;
 transition: all 0.4s;
}
.kitty{
 background:url(../media/handsupkitty.png) bottom center no-repeat;
 background-size: 40%;
 position: absolute;
 top: 100%;
 width: 100%;
 height: 100%;
 transition: all 0.4s;
}

.bush.up .grim{
	top:0;
}
.bush.up2 .kitty{
	top:0;
}